<div class="container">
  <div class="row">
    <div class="col-6">
      <button class="btn btn-primary m-3" (click)="createData()">Загрузить данные на сервер</button>
      <fieldset>
        <legend>Тестовые данные</legend>
        <pre>
           {{data | json}}
        </pre>
      </fieldset>
    </div>

    <div *ngIf="!errorMessage;else errBlock" class="col-6">
      <div *ngIf="fetchedData.totalCount > 0;else noDataBlock">
        <div *ngIf="!loading;else loadingBlock" class="col-6">
          <ul>
            <li class="list-group-item" *ngFor="let data of fetchedData.infoData| paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: pageNumber,
                  totalItems: fetchedData.totalCount
                };let idx = index;">
              <div>
                <h4>SerialNumber: {{data.serialNumber}}</h4>
                <p>
                  Code: {{data.code}}
                  Value: <strong>{{data.value}}</strong>
                </p>
              </div>
            </li>
          </ul>
          <div class="d-flex justify-content-center">
            <pagination-controls
              (pageChange)="renderPage($event)"
            ></pagination-controls>
          </div>
        </div>
        <ng-template #loadingBlock>
          Loading...
        </ng-template>
      </div>
      <ng-template #noDataBlock>
        No data...
      </ng-template>
    </div>
    <ng-template #errBlock>
      <div class="col-6"><span class="alert alert-danger">{{errorMessage}}</span></div>
    </ng-template>
  </div>
</div>


